div.container {
    width: 100%;
    float: left;
    
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #C0C0C0;
    clear: left;
    text-align: center;
}

nav.details {
    border: 1px solid gray;
    overflow: scroll;
    float: left;
    max-width: 360px;
    margin: 0;
    padding: 1em;
    height:700px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
#map {
    height:700px;
    width: 100%;
}